.button {
  padding: 8px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: var(--prime-black);
  color: white;
  cursor: pointer;
  transition: all 0.8s;
  &:hover {
    border: 2px solid var(--prime-green);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.49);
  }
  &:active {
    box-shadow: inset 1px 1px 10px var(--prime-green),
      1px 5px 5px rgba(0, 0, 0, 0.49);
  }
}
