.block {
  padding: 20px 20px;
  height: 200px;
  width: 100%;
  box-shadow: 0px 5px 1px 1px rgba(18, 16, 16, 0.2);
  li {
    font-size: 15px;
  }
}
.road {
  display: flex;
  flex-direction: column;
}
.price {
  justify-self: center;
  font-weight: bold;
  font-size: 30px;
}

.sales {
  align-self: flex-start;
  font-weight: bold;
}

.white {
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  .place {
    background-color: var(--prime-green);
  }
}
.black {
  background-color: black;
  color: white;
  border-radius: 25px;
  border: 2px solid black;
  .place {
    background-color: white;
    color: black;
  }
}

@media (max-width: 450px) {
  .block {
    flex-wrap: nowrap;
    gap: 10px;
  }
  .headSection {
    flex-wrap: wrap;
    // gap: 10px;
    h2 {
      font-size: 25px;
    }
  }
  .bigHeadSection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    h2 {
      font-size: 20px;
    }
  }
}
