.block {
  align-items: center;
  padding: 20px 20px;
  height: 200px;
  width: 100%;
  box-shadow: 0px 5px 1px 1px rgba(18, 16, 16, 0.2);
  font-size: 25px;
  h2 {
    font-size: 22px;
  }
  .road {
    display: flex;
    flex-direction: column;
    .roadHeading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .place {
      display: inline-block;
      max-width: max-content;
      padding: 5px 10px;
    }
    .price {
      font-weight: bold;
    }
    .sales {
      font-size: small;
      align-self: flex-start;
      font-weight: bold;
    }
  }
}
.white {
  background-color: white;
  border-radius: 25px;
  border: 2px solid var(--prime-black);
  .place {
    background-color: var(--prime-green);
  }
}
.black {
  background-color: var(--prime-black);
  color: white;
  border-radius: 25px;
  border: 2px solid var(--prime-black);
  .place {
    background-color: white;
    color: var(--prime-black);
  }
}

@media (max-width: 450px) {
  .block {
    font-size: 20px;
    h2 {
      font-size: 15px;
    }
  }
}
