.wrapper {
  background-color: red;
  display: flex;
  flex-direction: column;
}
.visible {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.354);
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0px 10px 0 10px;
    background-color: white;
    .linkList {
      display: flex;
      gap: 10px;
    }
    .closeButton {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.hidden {
  transition: ease-out 0.5;
  opacity: 0;
  display: none;
}
