.wrapper {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoBlock {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h1 {
      color: rgb(0, 0, 0);
      line-height: 1;
    }
  }
}
@media (max-width: 450px) {
  .wrapper {
    padding: 0 0.5rem;
    .logoBlock {
      max-width: 50%;
      align-self: flex-start;
    }
    .linkBlock {
      display: none;
    }
  }
}
