.wrapper {
  padding: 20px 20px;
  color: white;
  border-radius: 20px;
  background-color: var(--prime-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .phones {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
  }
}
